body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .container{
    width:1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  .extra1{
    padding-top: 100px;
    padding-bottom: 100px;
    color:white;
    background-image: url(https://cdn3.f-cdn.com/contestentries/1476645/23802538/5c790905289ca_thumb900.jpg);
    background-size:cover ;
    text-align: center;
  }
  
  .extra1 h1{
    opacity:0.7;
    font-size:45px;
    letter-spacing:3px;
    margin-bottom: 10px;
  }

  
  .extra1 h2{
    opacity:0.9;
    margin-bottom: 3px;
    font-weight:normal ;
    font-family: cursive;
  }

  .btn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color:white;
    display:inline-block;
    opacity:0.8;
    border-radius: 10px;
  }

  .btn:hover{
      opacity: 1;
  }

  .join{
      background-color: #e42012;
  }

  .btn-extra1{
    margin-top: 20px;
    margin-bottom: 20px;
  }
